.ativo{
  font-weight: bold;
  border-bottom: rgb(0, 0, 0) solid 2px;
}

/* Barra de navegação */

.navbar {
  border : none;
  border-bottom: rgb(230, 230, 230) solid 1px;
  display: flex;
}

#logo {
  margin : 5px 25px;
  width: 40px;
  height: 40px;
}

/* Links navbar*/

.nav_links {
  list-style-type: none;
  margin : 0;
  padding: 0;
}  

.nav_links li {
  float: left;
  margin: 0px 10px;
}

.nav_links a {
  display: block;
  padding: 15px 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family:  Calibri;
}

.nav_links a:hover:not(.ativo) {
  border-bottom: rgb(0, 0, 0) solid 2px;
}

  /* Botões navbar */

.nav_buttons{
  list-style-type: none;
  margin : 0;
  padding: 0;
  position : absolute;
  top : 18px;
  right: 30px;
}

.nav_button_li{ /* caixa do botao */
  float : left;
  height: 22px;
  width: 22px;
  border-radius:20px;
  border-width: 0px;
  padding:0;
  margin : 0 8px;
}

.nav_button_img{ /* imagem do botao */
  display:block;
  margin-right: auto;
  margin-left:auto;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.nav_buttons_content{
  display:none;
  position: absolute;
  top : 25px;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav_button_li:hover .nav_buttons_content{
  display: block;
}

  /*Botão do perfil*/

.nav_button_content_perfil{
  overflow: auto;
  border-bottom: rgb(230, 230, 230) solid 1px;
  padding : 4px 0;
}

.nav_button_content_perfil_img{
  margin: 8px 8px 8px 11.5px;
  float : left;
  height: 20px;
  width: 20px;
}

.nav_button_content_perfil a {
  display : block;
  padding: 6px 12px;
  text-decoration: none;
}

.nav_button_content_perfil a img{
  float : left;
  height: 15px;
  width: 15px;
  margin-right : 6px;
}

.nav_button_content_perfil p{
  color: black;
  font-family: Calibri;
  font-size: 12px;
  margin : 0;
}

.nav_button_content_perfil a:hover {
  background-color: #f1f1f1;
}

/* Botão da notificação*/

.nav_button_content_notif_head{
  padding : 12px 100px; 
  border-bottom: rgb(230, 230, 230) solid 1px;
}

.nav_button_content_notif_head h3{
  margin :0;
  font-family: Calibri;
  font-size: 16px;
}

.nav_button_content_notif{
  list-style-type: none;
  padding: 0;
  margin:0;
  height: 100%;
}

.nav_button_content_notif_list{
  padding : 0;
  margin :0;
  float: left;
  cursor : pointer
}

.nav_button_content_notif_list a{
  display: block;
  color: black;
  padding : 10px 0px 6px;
  width: 140px;
  font-family: Calibri;
  font-size : 12px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.nav_button_content_notif_list a:hover:not(.ativo){
  border-bottom: black solid 1px;
}

.nav_button_content_notif_list_content{
  display: none;
  position: absolute;
  background-color: rgb(248, 248, 248);
  width: 281.5px;
  height: 200px;
  overflow-y: scroll;
  border-radius : 5px;
  z-index: 1;
}

.nav_button_content_notif_list:hover .nav_button_content_notif_list_content{
  display: block;
}

.nav_button_content_notif_list_content_mensagem{
  border-top: rgb(230, 230, 230) solid 1px;
  padding-top : 15px;
  overflow: auto;
  z-index: 1;
}

.nav_button_content_notif_list_content_mensagem img {
  float : left;
  width :26px; 
  height: 26px;
  margin : 0px 10px 15px 15px;
}

.nav_button_content_notif_list_content_mensagem p {
  margin :0;
  font-size: 11px;
  font-family: Calibri;
}
