header{
    padding: 30px 50px;
    background-color: #f1f1f1;
    border-top: rgb(70, 0, 70);
    border-top-style: solid;
}

section::after {
    content: "";
    display: table;
    clear: both;
  }


footer{
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
    margin-top: 100px;
    background-image: linear-gradient(rgb(70, 0, 70),rgb(17, 0, 16));
    padding: 10px 100px;
    color: white;
}

body{
    background-color: #f1f1f1;
    margin : 0;
    padding: 0;
}

#titulo{
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px darkorchid;
    color : rgb(70, 0, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 0 30px;
    margin: 0;
}


.menu {
    background-image: linear-gradient(rgb(70, 0, 70),rgb(17, 0, 16));
    overflow: hidden;
    padding-left: 145px;
}

.menu a{
    color : white;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    display : block;
    float : left;
    padding : 20px 50px;
    margin : 0;
}

.menu a:hover{
    background-color: rgb(70, 0, 66);
}

.cabecalho{
    padding : 7px;
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
   
}

.cabecalho h4{
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    margin : 0 50px;
    color : rgb(49, 49, 49);
    padding: 0;
}

.inicio{
    border-top-style: solid;
    border-top-color: rgb(70, 0, 70);
    border-top-width: 5px;
    float:left;
    margin : 60px 2.2% 0;
    border-radius: 0 0 5px 5px;
    padding:0;
    
}

.inicio.materias{
    padding : 0;
    background-color: white;
    width: 60%;
    height: 800px;
}

.inicio.ferramentas{
    background-color: white;
    width: 30%;
    height: 200px;
}

.caixa{
    float:left;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 1px;
    margin : 40px 6% 20px 6%;
    width: 37%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.fundo{
    border-radius: 20px 20px 0 0;
    height: 130px;
    background-image: linear-gradient(50deg,black,rgb(70, 0, 70));
}
.base{
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding : 15px;
    border-radius: 0 0 20px 20px;
}

.base a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
